*.o
.vscode
bi-arity
bi-opcode
bi-opname
cc1
cccp
cpp
genattr
genattrtab
gencodes
genconfig
genemit
genextract
genflags
genopinit
genoutput
genpeep
genrecog
bi-parser.c
bi-parser.h
c-parse.y
config.bak
config.status
insn-attrtab.c
insn-codes.h
insn-emit.c
insn-extract.c
insn-flags.h
insn-output.c
insn-recog.c
config.log
